{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm border-0 p-4">
            <h3 class="fw-bold mb-3 text-center">რეგისტრაცია</h3>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}

                    {% if form.email.errors %}    <!-- თუ ემაილი ვერ გაივლის ვალიდაციას, მომხმარებელი დაინახავს შეტყობინებას -->
                       {{ form.email(class="form-control is-invalid") }}
                       
                            {% for error in form.email.errors %}
                               <span>{{ error }}</span>
                            {% endfor %}
                    
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.mobile.label(class="form-label") }}
                    {{ form.mobile(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                    {% if form.confirm_password != form.password %}
                        <div class="text-danger small">პაროლები არ ემთხვევა.</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary w-100">რეგისტრაცია</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}